{% extends "base.html.twig" %}
{% block title %}{{ parent()}}Curriculum{% endblock %}

{% block body %}

<section class="m-8">
    <h2 class="text-2xl font-bold">
        Curriculum Professionnel
    </h2>
    <div class="border-t border-gray-200">
        <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  A partir de Octobre 2020 <br>
                  Aston / DATASOLUTION
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Contrat d'alternance chez Aston Lille et l'entreprise DATASOLUTION. Spécialisation Symfony/Pimcore. Test End To End 
                    avec le framework Cypress (js). Apprentissage nodeJs, Ionic, C#, .NET.
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Mars 2020 à Juin 2020 <br>
                  EnviroServices
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    CDD développeur chez EnviroServices, création du site B2B de l'entreprise. Service de réparation de téléphone mobile
                    provenant des partenaires téléphoniques
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Sept 2019 à Mars 2020 <br>
                  Wild Code School
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Formation intensive à la Wild Code School de Lille, suivie de 4 mois de stage en entreprise.
                    Apprentissage du langage PHP et du framework Symfony, Bootstrap, Trello, GitHub
                    Création d'un site B2C pour la revente de téléphone mobile. Utilisation de SASS pour le style, base de donnée MySQL,
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  2014 / 2019 <br>
                  Tout Feu Tout Flamme
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Installateur de poêle à bois et insert pour particulier.
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  2012 / 2014 <br>
                  NSE
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Artisan électricien. Visite de chantier, réalisation des devis, intervention dépannage 7/7 24/24, relation client,
                    installation électrique neuve et rénovation, installation panneaux photovoltaique.
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  2010 / 2012 <br>
                  BIOTELEC
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Energie renouvelable. Installation panneaux photovoltaique pour particulier et professionnel.
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  2008 / 2010 <br>
                  ASI
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    Tirage de câble dans toute la Françe. Installation électrique dans le domaine du tertiaire. (SNCF, AIRBUS, HOSPITAUX)
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  CV téléchargeable
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                      <div class="w-0 flex-1 flex items-center">
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                        </svg>
                        <span class="ml-2 flex-1 w-0 truncate">
                          CV_lobry-duval.pdf
                        </span>
                      </div>
                      <div class="ml-4 flex-shrink-0">
                        <a href="{{ asset("/cv/CV_Mr_LOBRY-DUVAL.1p.pdf") }}" download="CV_Mr_LOBRY-DUVAL.pdf" class="font-medium text-indigo-600 hover:text-indigo-500">
                          Download
                        </a>
                      </div>
                    </li>
                  </ul>
                </dd>
              </div>
        </dl>
    </div>
</section>

{% endblock %}