{% extends "base.html.twig" %}
{% block title %}{{ parent()}}Home{% endblock %}

{% block body %}

<div class="flex">
  <div class="bg-gradient-to-r from-green-200 to-blue-200 p-4 m-4 w-2/4 shadow overflow-hidden sm:rounded-lg">
    <div class="text-center px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-bold text-gray-900">
        Plaque d'information
      </h3>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Prénom & Nom
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            Jérémy Lobry-Duval
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Domaine d'application
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            Développeur Backend Junior
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Email
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            j.lobryduval@gmail.com
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Salaire minimum
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            1400 €
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Info
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            En reconversion professionnelle depuis Septembre 2019. Formation Web avec la Wild Code School de Lille
            d'une durée de 5 mois intensifs suivie de 4 mois de stage.<br>
            Depuis Octobre 2020 en alternance avec Aston Lille et l'entreprise DATASOLUTION 
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Documents téléchargeables
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
              <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                <div class="w-0 flex-1 flex items-center">
                  <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 flex-1 w-0 truncate">
                    CV_lobry-duval.pdf
                  </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Download
                  </a>
                </div>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="bg-gradient-to-r from-green-200 to-blue-200 card p-4 m-4 m-auto w-2/4 shadow sm:rounded-lg">
    <div class="card_content text-center">
      <h2 class="text-lg font-medium">Vous recherchez un développeur ?</h2>
      <br>
      <p>
        Je suis actuellement en alternance et je recherche une entreprise qui souhaite intégrer au sein de ses équipes
        un nouveau développeur motivé.
      </p>
      <br>
      <p>
        <span class="strombo text-black text-xl">Disponible à tout moment</span> et pour tout type de contrat, je suis ouvert à vos propositions. Je ne demande pas un salaire élevé
        car j'ai encore beaucoup à apprendre et je suis consciens qu'il est difficile en ces temps d'investir dans le long terme.
      </p>
      <br>
      <p>
        Je suis principalement intéressé par les postes "backend". Peu importe la technologie, j'ai appris à apprendre. Je maitrise
        Symfony/PHP/TWIG et j'ai des connaissances en JS.
      </p>
    </div>
  </div>
</div>


{% endblock %}