{% extends "base.html.twig" %}
{% block title %}{{ parent()}}Home{% endblock %}

{% block body %}
    <h1 style="height: 250px;" class="bg-blue-600">Experience Professionnelle et personnelle</h1>
{% endblock %}